* {
    background-image: linear-gradient(deg 153, #9abce5, #f46584);

}
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 50px;
    padding: 0;
}
#donation-body {
    text-align: center;
}
.class {
    font-size: 3em;

}

.subheading {
    font-size: 1.5em;
}

#list {
    text-decoration: none;
}