body {
    font-family: Arial, Helvetica, sans-serif;
    color: #5a1010;
    margin: 50px;
    padding: 0;
    background-image: linear-gradient(to bottom right, #9abce5, #f46584);
}
#donation-body {
    text-align: center;
}
.title {
    font-size: 3em;

}

.subheading {
    font-size: 1.5em;
}

#list {
    text-decoration: none;
}