<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Donate</title>
</head>
<body>
    <h1>Dontation Page Content</h1>
    <p>feel free to donate toward these non-profit organiztions</p>
    <ul>
    <li><p><a href="https://www.humanesocietymiami.org/community-cats/">community</a></li></p>
    <li><p><a href="https://www.fomapets.org/donate/">dogs</a></li></p>
    <li><p><a href="https://www.humaneworld.org/en/donate-emergency-animal-relief-fund">displacement</a></p></li>
    </ul>

</body>
</html>