<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="donate.css">
    <title>Donate</title>
</head>
<body>

    <div id="donation-body">

        <h1 class="title">Donation</h1>
    <p class="subheading">feel free to donate toward these non-profit organiztions</p>
    <ul id="list">
        <li><p><a href="https://www.humanesocietymiami.org/community-cats/">community</a></li></p>
        <li><p><a href="https://www.fomapets.org/donate/">dogs</a></li></p>
        <li><p><a href="https://www.humaneworld.org/en/donate-emergency-animal-relief-fund">displacement</a></p></li>
    </ul>

    </div>
    
</body>
</html>